<div class=" bg-gray-200 h-screen flex-col p-5" [class.hidden]="hidden">
    <div class="p-4">
        <h1 class="text-xl font-bold">Navbar</h1>
    </div>
    <ul class="py-2">
        <li class="px-4 py-2 hover:bg-gray-300"><a routerLink="/">Projects Table</a></li>
        <li class="px-4 py-2 hover:bg-gray-300"><a routerLink="Dashboard/AddProjet">Add a project</a></li>
        <li class="px-4 py-2 hover:bg-gray-300"><a routerLink="Dashboard/TechsTables">Techs Table</a></li>
        <li class="px-4 py-2 hover:bg-gray-300"><a routerLink="Dashboard/AddTech">Add a tech</a></li>
    </ul>
</div>